<div class="modal-backgroud" [ngStyle]="{display: isOpen?'flex':'none'}">
  <div class="edit-modal container-fluid p-0">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="mx-auto mt-1">
          Edit
        </h4>
        <span>
          <button class="btn-close btn-close-white float-end me-2" (click)="closeModal()"></button>
        </span>
      </div>
      <div class="modal-edit-portion p-5">
        <label class="ps-4 ms-3 mb-1" for="">Enter your change</label>
        <input type="text" class="rounded-5 py-1 px-3 mb-5" [(ngModel)]="newValue">
        <div class="button-group">
          <button class="px-3 py-1 mx-3" (click)="makeChanges(newValue)">Change</button>
          <button class="px-3 py-1 mx-3" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

